<ng-container *ngIf="data != 'error' && data != 'loading'">
  <div class="article__container" *ngIf="data.articles.length != 0">
    <div class="article" *ngFor="let post of data.articles">
      <div class="article__main">
        <img
          class="article__img"
          [src]="post.urlToImage"
          onError="this.src='/assets/ruslan.jpg'"
        />
        <div class="article__info">
          <h3 class="article__title">{{ post.title }}</h3>
          <p class="article__text">
            {{ post.description }}
          </p>
          <div class="article__button-cont">
            <span class="article__date">{{ post.publishedAt }}</span>
            <button class="article__button">
              <a class="article__link" [href]="post.url" target="_blank"
                >READ MORE</a
              >
              <img class="article__button-icon" src="/assets/arrow.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="data.articles.length === 0" class="article__message">
    <span class="article__message-text"> НИТИВО НЕ НАЙДЕНО :CCC </span>
  </div>
</ng-container>
<div *ngIf="data === 'error'" class="article__message">
  <span class="article__message-text">
    В ходе работы возникла ошибка! Мы уже работаем над этим!
  </span>
</div>
<div *ngIf="data === 'loading'" class="article__message">
  <img class="article__loading-spinner" src="/assets/spinner.svg" />
</div>
