<div class="pagination">
  <ul class="pagination__list">
    <li class="pagination__list-item" (click)="changePage.emit(currentPage)">
      1
    </li>
    <li class="pagination__list-item">2</li>
    <li class="pagination__list-item">3</li>
    <li class="pagination__list-item">4</li>
    <li class="pagination__list-item">5</li>
    <li class="pagination__list-item">6</li>
  </ul>
  <div class="pagination__button-cont">
    <button class="pagination__button" (click)="changePage.emit(prevPage())">
      Prev
    </button>
    <button class="pagination__button" (click)="changePage.emit(nextPage())">
      Next
    </button>
  </div>
</div>
